<!-- NOTE: If you're working offline, you might have to change the DOCTYPE to the following:
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">-->
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <mapping class="com.lajommariano.model.User"/>
        <mapping class="com.lajommariano.model.Role"/>
        <mapping class="com.lajommariano.model.Book"/>
        <mapping class="com.lajommariano.model.Chapter"/>
        <mapping class="com.lajommariano.model.Genre"/>
        <mapping class="com.lajommariano.model.Tag"/>
        <mapping class="com.lajommariano.model.Reader" />
        <mapping class="com.lajommariano.model.Writer" />
    </session-factory>
</hibernate-configuration>